<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MauBlog</title>
  <link rel="icon" href="assets/mau_head.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="home">
      <img src="/assets/mau_head.png" alt="Maus Blog Page">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="about">
          About
      </a>

      <a class="navbar-item" href="blog">
          Blog
      </a>

      <div class="navbar-item">
        <div class="buttons">
          
          <!-- Place this tag where you want the button to render. -->
          <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/BBBMau" data-color-scheme="no-preference: light; light: light; dark: dark;" aria-label="Follow @BBBMau on GitHub">Follow @BBBMau</a>
          <a class="ml-4 button is-primary">
            <strong>Login</strong>
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>

<h1 class="mt-6 title is-1 has-text-centered">About Me</h1>
<div class="mt-3 subtitle is-3 has-text-centered">CS Student Studying at UC Merced</div>

<div class="block subtitle is-5 has-text-centered">Although at times frustrating, I enjoy being able to expereince new and exciting things through tech and I cannot wait to experience more each day</div>

<div class="block">
  <div class="container">
    <div class="hero is-medium is-success">
      <figure class="image is-16by9">
        <img src="assets/mau_android.jpg">
      </figure>
    </div>
  </div>
</div>

<div class="block">
  <div class="card container">
    <p class="has-text-centered title">Graduate in December 2022 from UC Merced</p>
  </div>
  <div class="card container mt-4">
    <p class="has-text-centered title py-3">Interests include:</p>
    <p class="has-text-centered subtitle">Operating Systems</p>
    <p class="has-text-centered subtitle">Android Development</p>
    <p class="has-text-centered subtitle">Distributed Systems</p>
    <p class="has-text-centered subtitle">Self Driving Cars</p>
    <p class="has-text-centered subtitle pb-3">Computer Vision</p>

  </div>
</div>

<!--Footer-->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Website created by Mauricio using <strong>Bulma CSS</strong> for the Frontend.
      Created to learn about <strong>Docker</strong> as well as 
      <strong>Terraform and Nomad</strong> from <a href="www.hashicorp.com">Hashicorp</a>
    </p>
  </div>
</footer>

</html>